<mat-spinner strokeWidth="5" [diameter]="50" *ngIf="isLoading"></mat-spinner>
<p>{{ post.content }}
</p>
<div>
  <button [disabled]="isLikeLoading" mat-button mat-button *ngIf="userId !== post.creator" (click)="
                        toggleHeartLike(post.id, post.likeValue.indexOf(userId) > -1)
                      " style="margin: 5px; text-align: center;">
    <i class="fa fa-heart size" [ngStyle]="{
                          color: post.likeValue.indexOf(userId) > -1 ? 'red' : 'black'
                        }"></i>
  </button>
  <span>
    <span matBadge="" matBadgeOverlap="false" *ngIf="post.likesCount != 0">
      {{ post.likesCount == 1 ? "Like" : "Likes" }}
      {{ post.likesCount == 0 ? "" : post.likesCount }}</span>
  </span>

  <mat-card-actions *ngIf="isUserAuthenticated && userId === post.creator">
    <a mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</a>
    <button mat-button color="warn" (click)="onDelete(post.id)">
      Delete
    </button>
  </mat-card-actions>
  </mat-card>
  </section>
  <mat-paginator *ngIf="posts.length != 0" [length]="totalPosts" [pageSize]="postPerPage"
    [pageSizeOptions]="pageSizeOptions"